<ion-header>
    <ion-toolbar>
        <ion-title>category</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)" slot="fixed">
        <ion-refresher-content
                pullingIcon="arrow-dropdown"
                pullingText="Pull to refresh"
                refreshingSpinner="circles"
                refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>
    <ion-grid></ion-grid>
    <div class="category-slider-area all-category categorys bg-color--grey slider3 space-pb--25 space-mb--25">
        <div class="container">
            <div class="row" >
                <div class="col-12" >
                    <ul class="accordion" id="accordion">
                        <li *ngFor="let category of categories">

                            <div (click)="get_subcategory(category.id)"
                                 *ngIf="!category.parent_category" class="cat-link link cat-box1"
                                 style="background: linear-gradient(90deg, rgb(128, 0, 128) 00%, rgba(200, 0, 249, 0.68) 100%);">
                                <img alt="" class="img-fluid" src="{{category.image}}">
                                {{category.title}}
                            </div>
                            <div (click)="get_subcategory_products(category.id)"
                                 *ngIf="category.parent_category" class="cat-link link cat-box1"
                                style="background: linear-gradient(270deg, rgba(131, 0, 131, 0.96) 0%, rgb(209, 0, 255) 100%);">
                                <img alt="" class="img-fluid" src="{{category.image}}">
                                <a style="float: right;">{{category.title}}</a>
                            </div>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</ion-content>


