<ion-header>
    <ion-toolbar>
        <ion-title>category</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid></ion-grid>
    <div class="category-slider-area all-category categorys bg-color--grey slider3 space-pb--25 space-mb--25">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <ul class="accordion" id="accordion">
                        <li *ngFor="let category of categories">
                            <div class="cat-link link cat-box1">
                                <img alt="" class="img-fluid" src="{{category.image}}">
                                {{category.title}}<i class="fa fa-chevron-down"></i>
                            </div>
                            <ul class="submenu">
                                <li *ngFor="let subcat of category.sub_categories"><a
                                        (click)="get_subcategory_products(subcat.id)">{{subcat.title}}</a></li>
                                <!--                                <li *ngFor="let subcat of category.sub_categories"><a href="#">{{subcat.title}}</a></li>-->
                            </ul>
                        </li>
                        <li>
                            <div class="cat-link link cat-box2">
                                <img alt="" class="img-fluid" src="assets/img/category-img/img2.png">
                                Personal care<i class="fa fa-chevron-down"></i>
                            </div>
                            <ul class="submenu">
                                <li><a href="#">Edile Oils</a></li>
                                <li><a href="#">Ghee & Vanspati</a></li>
                                <li><a href="#">Atta & Other Flors</a></li>
                                <li><a href="#">Dal & Pulse</a></li>
                                <li><a href="#">Poha & Daliya</a></li>
                            </ul>
                        </li>
                        <li>
                            <div class="cat-link link cat-box3">
                                <img alt="" class="img-fluid" src="assets/img/category-img/img3.png">
                                Household Care<i class="fa fa-chevron-down"></i>
                            </div>
                            <ul class="submenu">
                                <li><a href="#">Edile Oils</a></li>
                                <li><a href="#">Ghee & Vanspati</a></li>
                                <li><a href="#">Atta & Other Flors</a></li>
                                <li><a href="#">Dal & Pulse</a></li>
                                <li><a href="#">Poha & Daliya</a></li>
                            </ul>
                        </li>
                        <li>
                            <div class="cat-link link cat-box4">
                                <img alt="" class="img-fluid" src="assets/img/category-img/img4.png">
                                Beverages<i class="fa fa-chevron-down"></i>
                            </div>
                            <ul class="submenu">
                                <li><a href="#">Edile Oils</a></li>
                                <li><a href="#">Ghee & Vanspati</a></li>
                                <li><a href="#">Atta & Other Flors</a></li>
                                <li><a href="#">Dal & Pulse</a></li>
                                <li><a href="#">Poha & Daliya</a></li>
                            </ul>
                        </li>
                        <li>
                            <div class="cat-link link cat-box5">
                                <img alt="" class="img-fluid" src="assets/img/category-img/img5.png">
                                Breakfast & Dairy<i class="fa fa-chevron-down"></i>
                            </div>
                            <ul class="submenu">
                                <li><a href="#">Edile Oils</a></li>
                                <li><a href="#">Ghee & Vanspati</a></li>
                                <li><a href="#">Atta & Other Flors</a></li>
                                <li><a href="#">Dal & Pulse</a></li>
                                <li><a href="#">Poha & Daliya</a></li>
                            </ul>
                        </li>
                        <li>
                            <div class="cat-link link cat-box6">
                                <img alt="" class="img-fluid" src="assets/img/category-img/img6.png">
                                Baby Care<i class="fa fa-chevron-down"></i>
                            </div>
                            <ul class="submenu">
                                <li><a href="#">Edile Oils</a></li>
                                <li><a href="#">Ghee & Vanspati</a></li>
                                <li><a href="#">Atta & Other Flors</a></li>
                                <li><a href="#">Dal & Pulse</a></li>
                                <li><a href="#">Poha & Daliya</a></li>
                            </ul>
                        </li>
                        <li>
                            <div class="cat-link link cat-box7">
                                <img alt="" class="img-fluid" src="assets/img/category-img/img7.png">
                                Snacks<i class="fa fa-chevron-down"></i>
                            </div>
                            <ul class="submenu">
                                <li><a href="#">Edile Oils</a></li>
                                <li><a href="#">Ghee & Vanspati</a></li>
                                <li><a href="#">Atta & Other Flors</a></li>
                                <li><a href="#">Dal & Pulse</a></li>
                                <li><a href="#">Poha & Daliya</a></li>
                            </ul>
                        </li>
                        <li>
                            <div class="cat-link link cat-box8">
                                <img alt="" class="img-fluid" src="assets/img/category-img/img8.png">
                                Packaged Foods<i class="fa fa-chevron-down"></i>
                            </div>
                            <ul class="submenu">
                                <li><a href="#">Edile Oils</a></li>
                                <li><a href="#">Ghee & Vanspati</a></li>
                                <li><a href="#">Atta & Other Flors</a></li>
                                <li><a href="#">Dal & Pulse</a></li>
                                <li><a href="#">Poha & Daliya</a></li>
                            </ul>
                        </li>
                        <li>
                            <div class="cat-link link cat-box9">
                                <img alt="" class="img-fluid" src="assets/img/category-img/img9.png">
                                Fruits & Vegetables<i class="fa fa-chevron-down"></i>
                            </div>
                            <ul class="submenu">
                                <li><a href="#">Edile Oils</a></li>
                                <li><a href="#">Ghee & Vanspati</a></li>
                                <li><a href="#">Atta & Other Flors</a></li>
                                <li><a href="#">Dal & Pulse</a></li>
                                <li><a href="#">Poha & Daliya</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</ion-content>
