<ion-header>
    <ion-toolbar>
        <ion-title>wish list</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)" slot="fixed">
        <ion-refresher-content
                pullingIcon="arrow-dropdown"
                pullingText="Pull to refresh"
                refreshingSpinner="circles"
                refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>
    <div *ngIf="!showWishlist" class="body-wrapper body-new-wrapper bg-color--gradient space-pt--70 space-pb--120">
        <!--====================  header area ====================-->
        <!--====================  End of mobile menu overlay  ====================-->
        <!--====================  profile header ====================-->
        <!--====================  breadcrumb area ====================-->
        <!--        <div class="breadcrumb-area bg-color&#45;&#45;grey space-y&#45;&#45;15">-->
        <!--            <div class="container">-->
        <!--                <div class="row align-items-center">-->
        <!--                    <div class="col-3">-->
        <!--                    </div>-->
        <!--                    <div class="col-6">-->
        <!--                        <h4 class="page-title text-center"></h4>-->
        <!--                    </div>-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </div>-->
        <div class="activeorder category-slider-area all-category categorys bg-color--grey space-pb--25 space-mb--25">
            <div class="container">
                <div class="row">
                    <div class="col-12 my-order-div">
                        <div class="my-order">
                            <img alt="" class="img-fluid" src="assets/img/category-img/img2.png">
                            <h3 class="active">No Wish List Found</h3>
                            <a [routerLink]="['/tabs/tab1']">
                                <button class="btn btn-primary activebtn">Continue Shopping</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--====================  End of profile body  ====================-->
    </div>


    <div *ngIf="isloggedin" class="category-slider-area bg-color--grey products space-pb--25 space-mb--25">
        <div *ngIf="showWishlist" class="container">

            <div class="row">

                <!-- section title -->
                <div *ngFor="let product of products" class=" col-12 products-box-right">
                    <div class="item">
                        <div *ngIf="product.discount" class="products_offer">
                            <b>₹ &nbsp;{{product.discount}}</b> <br>Off
                        </div>
                        <ion-icon class="sare_icon" name="share-social-outline"></ion-icon>
                        <a [routerLink]="['/tabs/product', product.id]">
                            <div>
                                <img alt="" class="injectable pruducts_img" src="{{product.image}}">
                            </div>
                            <div class="content-div">
                                <p style=" height: 25px;"><b
                                        style="color: #800080; font-size: 15px;">{{product.item_name}}</b> &nbsp; |
                                    &nbsp;
                                    <b style="color: #95999c">{{product.weight}}</b></p>
                                <p style="color: #383d41 ">{{product.brand_name}}</p>
                                <p style="font-size:15px; height: 20px;">₹ <s
                                        style="color: #95999c">{{product.selling_price}}</s>
                                    <b> {{product.final_price}}</b></p>
                            </div>

                        </a>
                        <div class="content-div">
                            <a (click)="addTocart(product.id)">Add To Cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-content>
