

<ion-content>

    <div class="body-wrapper bg-color--gradient space-pt--20 login-signup space-pb--50">

<div class="auth-page-header space-mb--20x login-signup-head ">
            <div class="container">
               <div class="row">
                  <div class="col-12">
                     <h3 class="auth-page-header__title">Welcome Back</h3>
                     <p class="auth-page-header__text">Log in for best grocery shopping</p>
                  </div>
               </div>
            </div>
         </div>
         <!-- auth page body -->
         <div class="auth-page-body">
            <div class="container">
               <div class="row">
                  <div class="col-12">
                     <!-- Auth form -->
                     <div class="auth-form">

                         <form [formGroup]="submitform" (ngSubmit)="onSubmit()">
                           <div class="auth-form__single-field space-mb--20 form-field">
                              <label for="emailAddress">Email Address</label>
                              <input type="text" formControlName="email" id="emailAddress" placeholder="Enter Email Address">
                           </div>
                           <div class="auth-form__single-field space-mb--20 form-field ">
                              <label for="password">Password</label>
                              <input type="password" formControlName="password" id="password" placeholder="Enter Password">
                           </div>
                           <div class="auth-form__single-field space-mb--20 ">
                              <p class="auth-form__info-text">Don't have an account? <a [routerLink]="['/tabs/signup']">Sign up Now</a></p>
                           </div>
                               <div class="form-field">
                                    <button class="auth-form__button"  type="submit" [disabled]="!submitform.valid">Login</button>
                               </div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>

         <div class="auth-page-footer">
            <div class="container">
               <div class="row">
                  <div class="col-12">
                     <span class="auth-page-separator text-center space-mt--20 space-mb--20">- OR -</span>
                     <div class="auth-page-social-login">
                        <button><img src="assets/img/icons/facebook.svg" class="injectable" alt="">Sign In with Facebook</button>
                        <button><img src="assets/img/icons/google.svg" class="injectable" alt="">Sign In with Google</button>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
</ion-content>

