.location{
  //margin-top: 70px;
  cursor: pointer;
}
.login-signup_side{
   margin-top: 50px;
}
.side_menu{
  //margin-top: 10px;
}
.select_location{
  color: #800080;
  width: 100%;
  cursor: pointer;
}

.menu_link {
  color: #9d9fa6;
}

.menu_link:hover {
  color: #800080;
}

.arrow_ikn{
  color: #800080;
}

.footer_icon {
   color: #9d9fa6;
}

.footer_icon:hover {
   color: #800080;
}

.filter_icon{
  font-size: 80px;
  margin-top: 5px;
}

.user_icon{
  font-size: 50px;
  color: white;
  margin-top: -10px;
}
.arrow_icon{
  color: white;
  font-size: 50px;
  float: right;
}

.filter_botton{
  color: #989aa2;
}

.filter_botton:hover{
  color: #800080;
}

