<ion-menu content-id="main-content" side="start">

    <ion-content>
        <ion-list>

            <ion-menu-toggle auto-hide="true">
                <header>
                    <div class="header-wrapper header-css">
                        <div class="container space-y--15">
                            <div class="row align-items-center">


                                <div class="col d-flex justify-content-center">
                                    <!-- header search -->
                                    <div class="store-name-loc">
                                        <h4>{{user}} <a>
                                            <img src="assets/img/icons/edit-white.svg"></a>
                                        </h4>
                                    </div>
                                </div>

                                <div class="col-auto">
                                    <!-- header menu trigger -->
<!--                                    <button (click)="refresh()" class="header-menu-trigger" id="header-menu-trigger">-->
<!--                                                                                <img src="assets/img/icons/menu.svg" class="injectable" alt="">-->
<!--                                    </button>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </header>

                <div id="offcanvas-menu">
                    <div class="profile-card text-center">
                        <a href="#">
                            <div class="profile-card__image ">
                                <img alt="" class="img-fluid" src="assets/img/icons/user-white.png">
                                <div class="profile-card__content">
                                    <p class="name">WelCome <span class="id">Srinivas K/S</span></p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="profile-card address text-center">
                        <a href="#">
                            <div class="profile-card__image ">
                                <img alt="" class="img-fluid" src="assets/img/icons/map.png">
                                <div class="profile-card__content">
                                    <p class="name">Lorem ipsum, or lipsum as it is sometimes known,</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div *ngIf="islogedin" class="profile-card address help text-center">
                        <div  class="profile-card__image ">
                            <div class="profile-card__content">
                                <p class="name">Register Here if You have No</p>
                                <a (click)="login()" routerDirection="forward">
                                    <i class="fa fa-phone"></i>
                                    Login</a>
                                <a (click)="signup()" routerDirection="forward">
                                    <i class="fa fa-envelope"></i>
                                    Signup</a>
                            </div>
                        </div>
                    </div>

                    <div>
                        <ion-item class="menu_link">
                            <ion-icon name="albums-outline" slot="start"></ion-icon>
                            <ion-label>Shop by Category</ion-label>
                            <ion-icon name="chevron-forward-outline"></ion-icon>
                        </ion-item>

                        <ion-item class="menu_link">
                            <ion-icon name="medkit-outline" slot="start"></ion-icon>
                            <ion-label>Stores</ion-label>
                            <ion-icon name="chevron-forward-outline"></ion-icon>
                        </ion-item>

                        <ion-item class="menu_link" (click)="products()" routerDirection="forward">
                            <ion-icon name="cube-outline" slot="start"></ion-icon>
                            <ion-label>Products</ion-label>
                            <ion-icon name="chevron-forward-outline"></ion-icon>
                        </ion-item>

                        <ion-item class="menu_link">
                            <ion-icon name="radio-button-on-outline" slot="start"></ion-icon>
                            <ion-label>Active orders</ion-label>
                            <ion-icon name="chevron-forward-outline"></ion-icon>
                        </ion-item>

                        <ion-item class="menu_link">
                            <ion-icon name="receipt-outline" slot="start"></ion-icon>
                            <ion-label>Terms & Policy</ion-label>
                        </ion-item>

                        <ion-item class="menu_link">
                            <ion-icon name="share-social-outline" slot="start"></ion-icon>
                            <ion-label>Share</ion-label>
                        </ion-item>
                        <ion-item (click)="logout()" *ngIf="!islogedin" class="menu_link">
                            <ion-icon name="share-social-outline" slot="start"></ion-icon>
                            <ion-label>Log out</ion-label>
                        </ion-item>
                    </div>

                </div>

            </ion-menu-toggle>

        </ion-list>
    </ion-content>

</ion-menu>


<div class="ion-page" id="main-content">

    <ion-header>
        <ion-toolbar color="tertiary">

            <ion-buttons slot="start">
                <ion-menu-button color="light"></ion-menu-button>
                <ion-toolbar class="search" color="tertiary">
                    <ion-searchbar></ion-searchbar>
                </ion-toolbar>

            </ion-buttons>

        </ion-toolbar>
    </ion-header>
    <ion-tabs>

        <ion-tab-bar color="light" slot="bottom">

            <ion-tab-button class="bottom_icon" tab="tab1">
                <ion-icon name="home"></ion-icon>
                <ion-label>Home</ion-label>
            </ion-tab-button>


            <ion-tab-button (click)="category()" class="bottom_icon" routerDirection="forward">
                <ion-icon name="library"></ion-icon>
                <ion-label>Category</ion-label>
            </ion-tab-button>

            <ion-tab-button (click)="offer()" class="bottom_icon" routerDirection="forward">
                <ion-icon name="pricetags"></ion-icon>
                <ion-label>Offer</ion-label>
            </ion-tab-button>

            <ion-tab-button (click)="cart()" class="bottom_icon" routerDirection="forward">
                <ion-icon name="cart"></ion-icon>
                <ion-label>Cart</ion-label>
            </ion-tab-button>

            <ion-tab-button (click)="profile()" class="bottom_icon" routerDirection="forward">
                <ion-icon name="person"></ion-icon>
                <ion-label>Profile</ion-label>
            </ion-tab-button>

        </ion-tab-bar>

    </ion-tabs>

</div>
