
.menu_link {
  color: #9d9fa6;
}

.menu_link:hover {
  color: #800080;
}

.arrow_ikn{
  color: #800080;
}



.footer_icon {
   color: #9d9fa6;
}

.footer_icon:hover {
   color: #800080;
}

.filter_icon{
  font-size: 80px;
  margin-top: 5px;
}

.user_icon{
  font-size: 50px;
  color: white;
}
.arrow_icon{
  color: white;
  font-size: 50px;
  float: right;
}

.filter_botton{
  color: #989aa2;
}

.filter_botton:hover{
  color: #800080;
}

