ion-content ion-toolbar {
  --background: translucent;
}

.dropdown_item{
  width: 120px;
  color: #3a7be0;
  border-radius: 5px;
}

.sare_icon{
  float: right;
  color: #2a6df4;
  font-size: 20px;
  //margin-top: -10%;
}
.heart_icon{
  float: right;

  color: #989aa2;
  font-size: 20px;
}
.heart_icon:hover{
  float: right;
  color: deeppink;
  font-size: 20px;
  //margin-top: -10%;
}

.pruduct_image{
  height: 100px;
  width: 120px;
  display: flex;
  padding: 0;
  text-align: center;
  align-items: center;


}
