<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Tab 1
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content >

    <div class="menu_header">


        <div class="body-wrapper space-pt--20 space-pb--50">


            <!--====================  header area ====================-->

            <!--                    <script src="assets/js/main.js"></script>-->
            <div class="hero-slider bg-color--grey space-y--10 main-content-top-padding">
                <div class="container">


                    <div class="row row-10">
                        <div class="col-12">
                            <div class="hero-slider-wrapper">
                                <ion-slides>
                                    <ion-slide>
                                        <div class="hero-slider-item d-flex bg-img">
                                            <img src="assets/img/hero-slider/slider-1.jpg">

                                            <div class="container"></div>
                                        </div>
                                    </ion-slide>

                                    <ion-slide>

                                        <div class="hero-slider-item d-flex bg-img">
                                            <img src="assets/img/hero-slider/slider-2.jpg">
                                            <div class="container">

                                            </div>
                                        </div>
                                    </ion-slide>
                                </ion-slides>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <!--====================  End of hero slider  ====================-->


            <!--====================  category slider ====================-->

            <div class="categorys bg-color--grey space-pb--25 space-mb--25 ">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <!-- section title -->
                            <h2 class="section-title space-mt--10 space-mb--20">Shop By Categories</h2>
                            <!-- category slider -->
                            <div class="featured-product-wrapper space-mb-m--15">
                                <div class="row row-5">
                                    <div (click)="open_category_products(category.id)"
                                         *ngFor="let category of categories" class="col-4">
                                        <div class="cat-main-box">
                                            <div [ngStyle]="{'background-color': category.backgroud_color}"
                                                 class="featured-product cat-box1 space-mb--15">
                                                <a>

                                                    <div class="featured-product__image">
                                                        <img alt=""
                                                             class="img-fluid" src="{{category.image}}">
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="featured-product__content">
                                                <a><h4>{{category.title}}</h4></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--====================  End of category slider  ====================-->

            <div class="category-slider-area bg-color--grey slider2 space-pb--25 space-mb--25">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <!-- section title -->
                            <div class="owl-carousel owl-theme category-slider2-wrapper">
                                <div class="item">
                                    <a href="#">
                                        <img alt="" class="injectable"
                                             src="assets/img/products/featured/slider2-gor1-img.jpg">
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="#">
                                        <img alt="" class="injectable"
                                             src="assets/img/products/featured/slider2-gor1-img.jpg">
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="#">
                                        <img alt="" class="injectable"
                                             src="assets/img/products/featured/slider2-gor1-img.jpg">
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="#">
                                        <img alt="" class="injectable"
                                             src="assets/img/products/featured/slider2-gor1-img.jpg">
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="#">
                                        <img alt="" class="injectable"
                                             src="assets/img/products/featured/slider2-gor1-img.jpg">
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="#">
                                        <img alt="" class="injectable"
                                             src="assets/img/products/featured/slider2-gor1-img.jpg">
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="#">
                                        <img alt="" class="injectable"
                                             src="assets/img/products/featured/slider2-gor1-img.jpg">
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="#">
                                        <img alt="" class="injectable"
                                             src="assets/img/products/featured/slider2-gor1-img.jpg">
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="#">
                                        <img alt="" class="injectable"
                                             src="assets/img/products/featured/slider2-gor1-img.jpg">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--====================  End of category slider  ====================-->

            <!--            <div class="category-slider-area bg-color&#45;&#45;grey slider3 space-pb&#45;&#45;25 space-mb&#45;&#45;25">-->
            <!--                <div class="container">-->
            <!--                    <h2 class="section-title space-mb&#45;&#45;20">Best Sale <a href="shop.html">VIEW ALL <span><img-->
            <!--                            alt="" class="injectable" src="assets/img/icons/arrow-right.svg"></span></a></h2>-->
            <!--                    <div class="row">-->

            <!--                        &lt;!&ndash; End section title &ndash;&gt;-->


            <!--                        <div class=" col-6 products-box-right">-->
            <!--                            <div class="item">-->
            <!--                                <img alt="" class="injectable section2" src="assets/img/hero-slider/slider-1.jpg">-->
            <!--                                <div class="content-div">-->
            <!--                                    <p style="font-size:15px;">₹ <s>30.00</s><i style="color: #3a7be0"> 20.00</i></p>-->
            <!--                                    <p>Total Iodised Salt</p>-->
            <!--                                    <div>-->
            <!--                                        <select class="dropdown_item" name="items">-->
            <!--                                            <option value="1">1 kg</option>-->
            <!--                                            <option value="2">500 gm</option>-->
            <!--                                            <option value="3">250 gm</option>-->
            <!--                                        </select>-->
            <!--                                    </div>-->
            <!--                                    <a>Add To Cart</a>-->
            <!--                                </div>-->
            <!--                            </div>-->
            <!--                        </div>-->

            <!--                        <div class=" col-6 products-box-left">-->
            <!--                            <div class="item liquid ">-->
            <!--                                <img alt="" class="injectable" src="assets/img/products/featured/best-oli-img.png">-->
            <!--                                <div class="content-div">-->
            <!--                                    <p style="font-size:15px;">₹ <s>30.00</s><i style="color: #3a7be0"> 20.00</i></p>-->
            <!--                                    <p>Oil</p>-->
            <!--                                    <div>-->
            <!--                                        <select class="dropdown_item" name="items">-->
            <!--                                            <option value="1kg">1 Ltr</option>-->
            <!--                                            <option value="500gm">500 ML</option>-->
            <!--                                            <option value="250gm">250 ML</option>-->
            <!--                                        </select>-->
            <!--                                    </div>-->
            <!--                                    <a>Add To Cart</a>-->
            <!--                                </div>-->
            <!--                            </div>-->
            <!--                        </div>-->

            <!--                        <div class=" col-6 products-box-left">-->
            <!--                            <div class="item liquid ">-->
            <!--                                <img alt="" class="injectable" src="assets/img/products/featured/best-oli-img.png">-->
            <!--                                <div class="content-div">-->
            <!--                                    <p style="font-size:15px;">₹ <s>30.00</s><i style="color: #3a7be0"> 20.00</i></p>-->
            <!--                                    <p>Oil</p>-->
            <!--                                    <div>-->
            <!--                                        <select class="dropdown_item" name="items">-->
            <!--                                            <option value="1kg">1 Ltr</option>-->
            <!--                                            <option value="500gm">500 ML</option>-->
            <!--                                            <option value="250gm">250 ML</option>-->
            <!--                                        </select>-->
            <!--                                    </div>-->
            <!--                                    <a>Add To Cart</a>-->
            <!--                                </div>-->
            <!--                            </div>-->
            <!--                        </div>-->

            <!--                        <div class="col-6 products-box-left">-->
            <!--                            <div class="item ">-->
            <!--                                <img alt="" class="injectable" src="assets/img/products/featured/best-salt-img.png">-->
            <!--                                <div class="content-div">-->
            <!--                                    <p style="font-size:15px;">₹ <s>30.00</s><i style="color: #3a7be0"> 20.00</i></p>-->
            <!--                                    <p>Total Iodised Salt</p>-->
            <!--                                    <select class="dropdown_item" name="items">-->
            <!--                                        <option value="1kg">1 kg</option>-->
            <!--                                        <option value="500gm">500 gm</option>-->
            <!--                                        <option value="250gm">250 gm</option>-->
            <!--                                    </select>-->
            <!--                                    <a href="#">Add To Cart</a>-->
            <!--                                </div>-->
            <!--                            </div>-->
            <!--                        </div>-->

            <!--                    </div>-->
            <!--                </div>-->
            <!--            </div>-->

            <!--====================  End of category slider  ====================-->

            <div *ngFor="let homeoffer of HomeOffers"
                 class="category-slider-area bg-color--grey offersection space-pb--25 space-mb--25">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="offersection-box img-box col-12" [ngStyle]="{'background-color': homeoffer.color}">
                                <div class="header">
                                    <!--                                    <img src="assets/img/products/featured/household-section-img-top.png">-->
                                    <h4>{{homeoffer.heading}}</h4>
                                    <p>{{homeoffer.sub_heading}}</p>
                                </div>
                                <div class="row boxx">
                                    <div class="offer-div">
                                        <h4>UPTO<br><b>{{homeoffer.discount_off}}%</b><br>OFF</h4>
                                    </div>
                                    <div class="col-6">
                                        <a [routerLink]="['/tabs/product', homeoffer.product1.id]">
                                            <div class="inside-box">
                                                <img src="{{homeoffer.product1.image}}">
                                                <h4>{{homeoffer.product1.item_name}}</h4>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-6">
                                        <a [routerLink]="['/tabs/product', homeoffer.product2.id]">
                                            <div class="inside-box">
                                                <img src="{{homeoffer.product2.image}}">
                                                <h4>{{homeoffer.product2.item_name}}</h4>
                                            </div>
                                        </a>
                                    </div>
                                    <hr class="hr-offer-box">
                                    <div class="col-6">
                                        <a [routerLink]="['/tabs/product', homeoffer.product3.id]">
                                            <div class="inside-box">
                                                <img src="{{homeoffer.product3.image}}">
                                                <h4>{{homeoffer.product3.item_name}}</h4>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-6">
                                        <a [routerLink]="['/tabs/product', homeoffer.product4.id]">
                                            <div class="inside-box">
                                                <img src="{{homeoffer.product4.image}}">
                                                <h4>{{homeoffer.product4.item_name}}</h4>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--====================  featured product ====================-->
            <!-- slider4 start -->
            <!--            <div class="category-slider-area bg-color&#45;&#45;grey slider2 slider4 space-pb&#45;&#45;25 space-mb&#45;&#45;25">-->
            <!--                <div class="container">-->
            <!--                    <div class="row">-->
            <!--                        <div class="col-12">-->
            <!--                            &lt;!&ndash; section title &ndash;&gt;-->
            <!--                            <div class="owl-carousel owl-theme category-slider4-wrapper">-->
            <!--                                <div class="item">-->
            <!--                                    <a href="#">-->
            <!--                                        <img alt="" class="injectable"-->
            <!--                                             src="assets/img/products/featured/slider4-img1.png">-->
            <!--                                    </a>-->
            <!--                                </div>-->
            <!--                                <div class="item">-->
            <!--                                    <a href="#">-->
            <!--                                        <img alt="" class="injectable"-->
            <!--                                             src="assets/img/products/featured/slider4-img2.png">-->
            <!--                                    </a>-->
            <!--                                </div>-->
            <!--                                <div class="item">-->
            <!--                                    <a href="#">-->
            <!--                                        <img alt="" class="injectable"-->
            <!--                                             src="assets/img/products/featured/slider4-img1.png">-->
            <!--                                    </a>-->
            <!--                                </div>-->
            <!--                                <div class="item">-->
            <!--                                    <a href="#">-->
            <!--                                        <img alt="" class="injectable"-->
            <!--                                             src="assets/img/products/featured/slider4-img2.png">-->
            <!--                                    </a>-->
            <!--                                </div>-->
            <!--                            </div>-->
            <!--                        </div>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--            </div>-->
            <!-- slider4 end -->

            <!-- single-img-section start -->
            <!--            <div class="category-slider-area bg-color&#45;&#45;grey single-img-section space-pb&#45;&#45;25 space-mb&#45;&#45;25">-->
            <!--                <div class="container">-->
            <!--                    <div class="row">-->
            <!--                        <div class="col-12">-->
            <!--                            <a href="#">-->
            <!--                                <div class="img-box">-->
            <!--                                    <img alt="" class="injectable"-->
            <!--                                         src="assets/img/products/featured/single-banner-img.png">-->
            <!--                                </div>-->
            <!--                            </a>-->
            <!--                        </div>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--            </div>-->
            <!-- single-img-section end -->

            <!-- 4-img-section start -->
            <!--            <div class="category-slider-area bg-color&#45;&#45;grey four-img-section space-pb&#45;&#45;25 space-mb&#45;&#45;25">-->
            <!--                <div class="container">-->
            <!--                    <div class="row">-->
            <!--                        <div class="col-6">-->
            <!--                            <a href="#">-->
            <!--                                <div class="img-box">-->
            <!--                                    <img src="assets/img/products/featured/4img-section-img1.png">-->
            <!--                                </div>-->
            <!--                            </a>-->
            <!--                        </div>-->
            <!--                        <div class="col-6">-->
            <!--                            <a href="#">-->
            <!--                                <div class="img-box">-->
            <!--                                    <img src="assets/img/products/featured/4img-section-img1.png">-->
            <!--                                </div>-->
            <!--                            </a>-->
            <!--                        </div>-->
            <!--                        <div class="col-6">-->
            <!--                            <a href="#">-->
            <!--                                <div class="img-box">-->
            <!--                                    <img src="assets/img/products/featured/4img-section-img1.png">-->
            <!--                                </div>-->
            <!--                            </a>-->
            <!--                        </div>-->
            <!--                        <div class="col-6">-->
            <!--                            <a href="#">-->
            <!--                                <div class="img-box">-->
            <!--                                    <img src="assets/img/products/featured/4img-section-img1.png">-->
            <!--                                </div>-->
            <!--                            </a>-->
            <!--                        </div>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--            </div>-->
            <!-- 4-img-section end -->


            <!-- offersection-2  start-->
            <!--            <div class="category-slider-area bg-color&#45;&#45;grey offersection offersection-2  space-pb&#45;&#45;25 space-mb&#45;&#45;25">-->
            <!--                <div class="container">-->
            <!--                    <div class="row">-->
            <!--                        <div class="col-12">-->
            <!--                            <div class="offersection-box img-box col-12">-->
            <!--                                <div class="header">-->
            <!--                                    <img src="assets/img/products/featured/offersection-2-top-img.png">-->
            <!--                                </div>-->
            <!--                                <div class="row boxx">-->
            <!--                                    <div class="offer-div">-->
            <!--                                        <h4>UPTO<br><b>20%</b><br>OFF</h4>-->
            <!--                                    </div>-->
            <!--                                    <div class="col-6">-->
            <!--                                        <a href="#">-->
            <!--                                            <div class="inside-box">-->
            <!--                                                <img src="assets/img/products/featured/offersection2-product-img1.png">-->
            <!--                                                <h4>India Gate Rice </h4>-->
            <!--                                            </div>-->
            <!--                                        </a>-->
            <!--                                    </div>-->
            <!--                                    <div class="col-6">-->
            <!--                                        <a href="#">-->
            <!--                                            <div class="inside-box">-->
            <!--                                                <img src="assets/img/products/featured/offersection2-product-img1.png">-->
            <!--                                                <h4>India Gate Rice</h4>-->
            <!--                                            </div>-->
            <!--                                        </a>-->
            <!--                                    </div>-->
            <!--                                    <hr class="hr-offer-box">-->
            <!--                                    <div class="col-6">-->
            <!--                                        <a href="#">-->
            <!--                                            <div class="inside-box">-->
            <!--                                                <img src="assets/img/products/featured/offersection2-product-img1.png">-->
            <!--                                                <h4>India Gate Rice</h4>-->
            <!--                                            </div>-->
            <!--                                        </a>-->
            <!--                                    </div>-->
            <!--                                    <div class="col-6">-->
            <!--                                        <a href="#">-->
            <!--                                            <div class="inside-box">-->
            <!--                                                <img src="assets/img/products/featured/offersection2-product-img1.png">-->
            <!--                                                <h4>India Gate Rice</h4>-->
            <!--                                            </div>-->
            <!--                                        </a>-->
            <!--                                    </div>-->
            <!--                                </div>-->
            <!--                            </div>-->
            <!--                        </div>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--            </div>-->

            <!-- offersection-2  end-->
            <!-- Recommended Products start -->
            <!--            <div class="category-slider-area bg-color&#45;&#45;grey slider3 slider5 space-pb&#45;&#45;25 space-mb&#45;&#45;25">-->
            <!--                <div class="container">-->
            <!--                    <div class="row">-->
            <!--                        <div class="col-12">-->
            <!--                            <h2 class="section-title space-mb&#45;&#45;20">Recommended Products <a href="shop.html">VIEW ALL-->
            <!--                                <span><img alt="" class="injectable" src="assets/img/icons/arrow-right.svg"></span></a>-->
            <!--                            </h2>-->

            <!--                            &lt;!&ndash; section title &ndash;&gt;-->

            <!--                            <div class="owl-carousel owl-theme best-seller">-->
            <!--                                <div class="item">-->
            <!--                                    <img alt="" class="injectable" src="assets/img/products/featured/best-salt-img.png">-->
            <!--                                    <div class="content-div">-->
            <!--                                        <h4><img class="icons" src="assets/img/icons/money.svg">25.00</h4>-->
            <!--                                        <p>Total Iodised Salt</p>-->
            <!--                                        <input name="" type="" value="1 Kg">-->
            <!--                                        <a >Add To Cart</a>-->
            <!--                                    </div>-->
            <!--                                </div>-->
            <!--                                <div class="item liquid">-->
            <!--                                    <img alt="" class="injectable" src="assets/img/products/featured/best-oli-img.png">-->
            <!--                                    <div class="content-div">-->
            <!--                                        <h4><img class="icons" src="assets/img/icons/money.svg">25.00</h4>-->
            <!--                                        <p>Oil</p>-->
            <!--                                        <div class="input-div">-->
            <!--                                            <i class="fa fa-caret-down"> </i>-->
            <!--                                            <input name="" readonly="" type="" value="995 gm">-->
            <!--                                        </div>-->
            <!--                                        <a href="#">Add To Cart</a>-->
            <!--                                    </div>-->
            <!--                                </div>-->
            <!--                                <div class="item">-->
            <!--                                    <img alt="" class="injectable" src="assets/img/products/featured/best-salt-img.png">-->
            <!--                                    <div class="content-div">-->
            <!--                                        <h4><img class="icons" src="assets/img/icons/money.svg">25.00</h4>-->
            <!--                                        <p>Total Iodised Salt</p>-->
            <!--                                        <input name="" type="" value="1 Kg">-->
            <!--                                        <a href="#">Add To Cart</a>-->
            <!--                                    </div>-->
            <!--                                </div>-->
            <!--                            </div>-->
            <!--                        </div>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--            </div>-->
            <!-- Recommended Products end -->
            <!-- offersection-3 start -->
            <!--            <div class="category-slider-area bg-color&#45;&#45;grey offersection offersection-2 offersection-3  space-pb&#45;&#45;25 space-mb&#45;&#45;25">-->
            <!--                <div class="container">-->
            <!--                    <div class="row">-->
            <!--                        <div class="col-12">-->
            <!--                            <div class="offersection-box img-box col-12">-->
            <!--                                <div class="header">-->
            <!--                                    <img src="assets/img/products/featured/offersection-3-top-img.png">-->
            <!--                                </div>-->
            <!--                                <div class="row boxx">-->
            <!--                                    <div class="offer-div">-->
            <!--                                        <h4>UPTO<br><b>20%</b><br>OFF</h4>-->
            <!--                                    </div>-->
            <!--                                    <div class="col-6">-->
            <!--                                        <a href="#">-->
            <!--                                            <div class="inside-box">-->
            <!--                                                <img src="assets/img/products/featured/offersection3-product-img1.png">-->
            <!--                                                <h4>Fair and Lovely</h4>-->
            <!--                                            </div>-->
            <!--                                        </a>-->
            <!--                                    </div>-->
            <!--                                    <div class="col-6">-->
            <!--                                        <a href="#">-->
            <!--                                            <div class="inside-box">-->
            <!--                                                <img src="assets/img/products/featured/offersection3-product-img1.png">-->
            <!--                                                <h4>Fair and Lovely</h4>-->
            <!--                                            </div>-->
            <!--                                        </a>-->
            <!--                                    </div>-->
            <!--                                    <hr class="hr-offer-box">-->
            <!--                                    <div class="col-6">-->
            <!--                                        <a href="#">-->
            <!--                                            <div class="inside-box">-->
            <!--                                                <img src="assets/img/products/featured/offersection3-product-img1.png">-->
            <!--                                                <h4>Fair and Lovely</h4>-->
            <!--                                            </div>-->
            <!--                                        </a>-->
            <!--                                    </div>-->
            <!--                                    <div class="col-6">-->
            <!--                                        <a href="#">-->
            <!--                                            <div class="inside-box">-->
            <!--                                                <img src="assets/img/products/featured/offersection3-product-img1.png">-->
            <!--                                                <h4>Fair and Lovely</h4>-->
            <!--                                            </div>-->
            <!--                                        </a>-->
            <!--                                    </div>-->
            <!--                                </div>-->
            <!--                            </div>-->
            <!--                        </div>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--            </div>-->
            <!-- offersection-3 end -->
            <!-- Featured Products start -->
            <!--            <div class="category-slider-area bg-color&#45;&#45;grey slider3  slider6 space-pb&#45;&#45;25 space-mb&#45;&#45;25">-->
            <!--                <div class="container">-->
            <!--                    <div class="row">-->
            <!--                        <div class="col-12">-->
            <!--                            <h2 class="section-title space-mb&#45;&#45;20">Featured Products <a href="shop.html">VIEW ALL <span><img-->
            <!--                                    alt="" class="injectable" src="assets/img/icons/arrow-right.svg"></span></a></h2>-->
            <!--                            &lt;!&ndash; section title &ndash;&gt;-->
            <!--                            <div class="owl-carousel owl-theme best-seller">-->
            <!--                                <div class="item">-->
            <!--                                    <img alt="" class="injectable" src="assets/img/products/featured/best-salt-img.png">-->
            <!--                                    <div class="content-div">-->
            <!--                                        <h4><img class="icons" src="assets/img/icons/money.svg">25.00</h4>-->
            <!--                                        <p>Total Iodised Salt</p>-->
            <!--                                        <input name="" type="" value="1 Kg">-->
            <!--                                        <a href="#">Add To Cart</a>-->
            <!--                                    </div>-->
            <!--                                </div>-->
            <!--                                <div class="item liquid">-->
            <!--                                    <img alt="" class="injectable" src="assets/img/products/featured/best-oli-img.png">-->
            <!--                                    <div class="content-div">-->
            <!--                                        <h4><img class="icons" src="assets/img/icons/money.svg">25.00</h4>-->
            <!--                                        <p>Oil</p>-->
            <!--                                        <div class="input-div">-->
            <!--                                            <i class="fa fa-caret-down"> </i>-->
            <!--                                            <input name="" readonly="" type="" value="995 gm">-->
            <!--                                        </div>-->
            <!--                                        <a href="#">Add To Cart</a>-->
            <!--                                    </div>-->
            <!--                                </div>-->
            <!--                                <div class="item">-->
            <!--                                    <img alt="" class="injectable" src="assets/img/products/featured/best-salt-img.png">-->
            <!--                                    <div class="content-div">-->
            <!--                                        <h4><img class="icons" src="assets/img/icons/money.svg">25.00</h4>-->
            <!--                                        <p>Total Iodised Salt</p>-->
            <!--                                        <input name="" type="" value="1 Kg">-->
            <!--                                        <a href="#">Add To Cart</a>-->
            <!--                                    </div>-->
            <!--                                </div>-->
            <!--                            </div>-->
            <!--                        </div>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--            </div>-->
            <!-- Featured Products end -->
            <!--====================  End of products area  ====================-->
            <!--====================  footer area ====================-->
            <!--            <footer>-->
            <!--                <div class="footer-nav-wrapper">-->
            <!--                    <a href="index.html" class="footer-nav-single">-->
            <!--                        <div class="menu-wrapper">-->
            <!--                            <img src="assets/img/icons/home.svg" class="injectable" alt="">-->
            <!--                            <span>Home</span>-->
            <!--                        </div>-->
            <!--                    </a>-->


            <!--                    <a href="#" class="footer-nav-single">-->
            <!--                        <div class="menu-wrapper">-->
            <!--                            <img src="assets/img/icons/list.svg" class="injectable" alt="">-->
            <!--                            <span>Category</span>-->
            <!--                        </div>-->
            <!--                    </a>-->
            <!--                    <a href="#" class="footer-nav-single">-->
            <!--                        <div class="menu-wrapper">-->
            <!--                            <img src="assets/img/icons/offer.svg" class="injectable" alt="">-->
            <!--                            <span>Offer</span>-->
            <!--                        </div>-->
            <!--                    </a>-->
            <!--                    <a href="#" class="footer-nav-single">-->
            <!--                        <div class="menu-wrapper">-->
            <!--                            <img src="assets/img/icons/cart.svg" class="injectable" alt="">-->
            <!--                            <span>Cart</span>-->
            <!--                        </div>-->
            <!--                    </a>-->
            <!--                    <a href="#" class="footer-nav-single">-->
            <!--                        <div class="menu-wrapper">-->
            <!--                            <img src="assets/img/icons/profile.svg" class="injectable" alt="">-->
            <!--                            <span>Profile</span>-->
            <!--                        </div>-->
            <!--                    </a>-->
            <!--                </div>-->
            <!--            </footer>-->
            <!--====================  End of footer area  ====================-->
        </div>
    </div>
</ion-content>

