<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Tab 1
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <div class="menu_header">


        <div class="body-wrapper space-pt--20 space-pb--50">


            <!--====================  header area ====================-->

            <!--                    <script src="assets/js/main.js"></script>-->
            <div class="hero-slider bg-color--grey space-y--10 main-content-top-padding">

                <div class="container">

                    <div class="row row-10">
                        <div class="col-12">
                            <div class="hero-slider-wrapper">
                                <div class="hero-slider-item d-flex bg-img">
                                    <img src="assets/img/hero-slider/slider-1.jpg">
                                    <div class="container">

                                    </div>
                                </div>
                                <div class="hero-slider-item d-flex bg-img">
                                    <img src="assets/img/hero-slider/slider-2.jpg">
                                    <div class="container">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--====================  End of hero slider  ====================-->
            <!--====================  category slider ====================-->
            <div class="categorys bg-color--grey space-pb--25 space-mb--25 ">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <!-- section title -->
                            <h2 class="section-title space-mt--10 space-mb--20">Shop By Categories</h2>
                            <!-- category slider -->
                            <div class="featured-product-wrapper space-mb-m--15">
                                <div class="row row-5">
                                    <div *ngFor="let category of categories" class="col-4">
                                        <div class="cat-main-box">
                                            <div [ngStyle]="{'background-color': category.backgroud_color}"
                                                 class="featured-product cat-box1 space-mb--15">
                                                <a>

                                                    <div class="featured-product__image">
                                                        <img src="{{category.image}}"
                                                             class="img-fluid" alt="">
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="featured-product__content">
                                                <a href="#"><h4>{{category.title}}</h4></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="cat-main-box">
                                            <div class="featured-product cat-box2 space-mb--15">
                                                <a href="#">

                                                    <div class="featured-product__image">
                                                        <img src="assets/img/products/featured/personal-product-cat.png"
                                                             class="img-fluid" alt="">
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="featured-product__content">
                                                <a href="#"><h4>Personal care</h4></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="cat-main-box">
                                            <div class="featured-product cat-box3 space-mb--15">
                                                <a href="#">

                                                    <div class="featured-product__image">
                                                        <img src="assets/img/products/featured/hoousehold-product-cat.png"
                                                             class="img-fluid" alt="">
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="featured-product__content">
                                                <a href="#"><h4>Household Care</h4></a>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-4">
                                        <div class="cat-main-box">
                                            <div class="featured-product cat-box4 space-mb--15">
                                                <a href="#">

                                                    <div class="featured-product__image">
                                                        <img src="assets/img/products/featured/bavrage-product-cat.png"
                                                             class="img-fluid" alt="">
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="featured-product__content">
                                                <a href="#"><h4>Beverages</h4></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="cat-main-box">
                                            <div class="featured-product cat-box5 space-mb--15">
                                                <a href="#">

                                                    <div class="featured-product__image">
                                                        <img src="assets/img/products/featured/brackefast-product-cat.png"
                                                             class="img-fluid" alt="">
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="featured-product__content">
                                                <a href="#"><h4>Breakfast & Dairy</h4></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="cat-main-box">
                                            <div class="featured-product cat-box6 space-mb--15">
                                                <a href="#">

                                                    <div class="featured-product__image">
                                                        <img src="assets/img/products/featured/babycare-product-cat.png"
                                                             class="img-fluid" alt="">
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="featured-product__content">
                                                <a href="#"><h4>Baby Care</h4></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="cat-main-box">
                                            <div class="featured-product cat-box7 space-mb--15">
                                                <a href="#">

                                                    <div class="featured-product__image">
                                                        <img src="assets/img/products/featured/snacks-product-cat.png"
                                                             class="img-fluid" alt="">
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="featured-product__content">
                                                <a href="#"><h4>Snacks</h4></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="cat-main-box">
                                            <div class="featured-product cat-box8 space-mb--15">
                                                <a href="#">

                                                    <div class="featured-product__image">
                                                        <img src="assets/img/products/featured/packagedfood-product-cat.png"
                                                             class="img-fluid" alt="">
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="featured-product__content">
                                                <a href="#"><h4>Packaged Foods</h4></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="cat-main-box">
                                            <div class="featured-product cat-box9 space-mb--15">
                                                <a href="#">

                                                    <div class="featured-product__image">
                                                        <img src="assets/img/products/featured/fruits-product-cat.png"
                                                             class="img-fluid" alt="">
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="featured-product__content">
                                                <a href="#"><h4>Fruits & Vegetables</h4></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--====================  End of category slider  ====================-->
            <div class="category-slider-area bg-color--grey slider2 space-pb--25 space-mb--25">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <!-- section title -->
                            <div class="owl-carousel owl-theme category-slider2-wrapper">
                                <div class="item">
                                    <a href="#">
                                        <img src="assets/img/products/featured/slider2-gor1-img.jpg" class="injectable"
                                             alt="">
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="#">
                                        <img src="assets/img/products/featured/slider2-gor1-img.jpg" class="injectable"
                                             alt="">
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="#">
                                        <img src="assets/img/products/featured/slider2-gor1-img.jpg" class="injectable"
                                             alt="">
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="#">
                                        <img src="assets/img/products/featured/slider2-gor1-img.jpg" class="injectable"
                                             alt="">
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="#">
                                        <img src="assets/img/products/featured/slider2-gor1-img.jpg" class="injectable"
                                             alt="">
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="#">
                                        <img src="assets/img/products/featured/slider2-gor1-img.jpg" class="injectable"
                                             alt="">
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="#">
                                        <img src="assets/img/products/featured/slider2-gor1-img.jpg" class="injectable"
                                             alt="">
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="#">
                                        <img src="assets/img/products/featured/slider2-gor1-img.jpg" class="injectable"
                                             alt="">
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="#">
                                        <img src="assets/img/products/featured/slider2-gor1-img.jpg" class="injectable"
                                             alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--====================  End of category slider  ====================-->
            <div class="category-slider-area bg-color--grey slider3 space-pb--25 space-mb--25">
                <div class="container">
                    <h2 class="section-title space-mb--20">Best Sale <a href="shop.html">VIEW ALL <span><img
                            src="assets/img/icons/arrow-right.svg" class="injectable" alt=""></span></a></h2>
                    <div class="row">


                        <!-- section title -->
                        <div class=" col-6 products-box-right">
                            <div class="item">
                                <img src="assets/img/products/featured/best-salt-img.png" class="injectable" alt="">
                                <div class="content-div">
                                    <h4><img src="assets/img/icons/money.svg" class="icons">25.00</h4>
                                    <p>Total Iodised Salt</p>
                                    <input type="" name="" value="1 Kg">
                                    <a href="#">Add To Cart</a>
                                </div>
                            </div>
                        </div>
                        <div class=" col-6 products-box-left">
                            <div class="item liquid ">
                                <img src="assets/img/products/featured/best-oli-img.png" class="injectable" alt="">
                                <div class="content-div">
                                    <h4><img src="assets/img/icons/money.svg" class="icons">25.00</h4>
                                    <p>Oil</p>
                                    <div class="input-div">
                                        <i class="fa fa-caret-down"> </i>
                                        <input type="" name="" value="995 gm" readonly="">
                                    </div>
                                    <a href="#">Add To Cart</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 products-box-right">
                            <div class="item ">
                                <img src="assets/img/products/featured/best-salt-img.png" class="injectable" alt="">
                                <div class="content-div">
                                    <h4><img src="assets/img/icons/money.svg" class="icons">25.00</h4>
                                    <p>Total Iodised Salt</p>
                                    <input type="" name="" value="1 Kg">
                                    <a href="#">Add To Cart</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 products-box-left">
                            <div class="item ">
                                <img src="assets/img/products/featured/best-salt-img.png" class="injectable" alt="">
                                <div class="content-div">
                                    <h4><img src="assets/img/icons/money.svg" class="icons">25.00</h4>
                                    <p>Total Iodised Salt</p>
                                    <input type="" name="" value="1 Kg">
                                    <a href="#">Add To Cart</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!--====================  End of category slider  ====================-->
            <div class="category-slider-area bg-color--grey offersection space-pb--25 space-mb--25">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="offersection-box img-box col-12">
                                <div class="header">
                                    <img src="assets/img/products/featured/household-section-img-top.png">
                                    <h4>House Hold</h4>
                                    <p>CLEANING ESSNTIALS</p>
                                </div>
                                <div class="row boxx">
                                    <div class="offer-div">
                                        <h4>UPTO<br><b>20%</b><br>OFF</h4>
                                    </div>
                                    <div class="col-6">
                                        <a href="#">
                                            <div class="inside-box">
                                                <img src="assets/img/products/featured/offersection-product-img1.png">
                                                <h4>Surf Excel</h4>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-6">
                                        <a href="#">
                                            <div class="inside-box">
                                                <img src="assets/img/products/featured/offersection-product-img1.png">
                                                <h4>Surf Excel</h4>
                                            </div>
                                        </a>
                                    </div>
                                    <hr class="hr-offer-box">
                                    <div class="col-6">
                                        <a href="#">
                                            <div class="inside-box">
                                                <img src="assets/img/products/featured/offersection-product-img1.png">
                                                <h4>Surf Excel</h4>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-6">
                                        <a href="#">
                                            <div class="inside-box">
                                                <img src="assets/img/products/featured/offersection-product-img1.png">
                                                <h4>Surf Excel</h4>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--====================  featured product ====================-->
            <!-- slider4 start -->
            <div class="category-slider-area bg-color--grey slider2 slider4 space-pb--25 space-mb--25">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <!-- section title -->
                            <div class="owl-carousel owl-theme category-slider4-wrapper">
                                <div class="item">
                                    <a href="#">
                                        <img src="assets/img/products/featured/slider4-img1.png" class="injectable"
                                             alt="">
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="#">
                                        <img src="assets/img/products/featured/slider4-img2.png" class="injectable"
                                             alt="">
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="#">
                                        <img src="assets/img/products/featured/slider4-img1.png" class="injectable"
                                             alt="">
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="#">
                                        <img src="assets/img/products/featured/slider4-img2.png" class="injectable"
                                             alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- slider4 end -->
            <!-- single-img-section start -->
            <div class="category-slider-area bg-color--grey single-img-section space-pb--25 space-mb--25">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <a href="#">
                                <div class="img-box">
                                    <img src="assets/img/products/featured/single-banner-img.png" class="injectable"
                                         alt="">
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- single-img-section end -->
            <!-- 4-img-section start -->
            <div class="category-slider-area bg-color--grey four-img-section space-pb--25 space-mb--25">
                <div class="container">
                    <div class="row">
                        <div class="col-6">
                            <a href="#">
                                <div class="img-box">
                                    <img src="assets/img/products/featured/4img-section-img1.png">
                                </div>
                            </a>
                        </div>
                        <div class="col-6">
                            <a href="#">
                                <div class="img-box">
                                    <img src="assets/img/products/featured/4img-section-img1.png">
                                </div>
                            </a>
                        </div>
                        <div class="col-6">
                            <a href="#">
                                <div class="img-box">
                                    <img src="assets/img/products/featured/4img-section-img1.png">
                                </div>
                            </a>
                        </div>
                        <div class="col-6">
                            <a href="#">
                                <div class="img-box">
                                    <img src="assets/img/products/featured/4img-section-img1.png">
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 4-img-section end -->
            <!-- offersection-2  start-->
            <div class="category-slider-area bg-color--grey offersection offersection-2  space-pb--25 space-mb--25">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="offersection-box img-box col-12">
                                <div class="header">
                                    <img src="assets/img/products/featured/offersection-2-top-img.png">
                                </div>
                                <div class="row boxx">
                                    <div class="offer-div">
                                        <h4>UPTO<br><b>20%</b><br>OFF</h4>
                                    </div>
                                    <div class="col-6">
                                        <a href="#">
                                            <div class="inside-box">
                                                <img src="assets/img/products/featured/offersection2-product-img1.png">
                                                <h4>India Gate Rice </h4>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-6">
                                        <a href="#">
                                            <div class="inside-box">
                                                <img src="assets/img/products/featured/offersection2-product-img1.png">
                                                <h4>India Gate Rice</h4>
                                            </div>
                                        </a>
                                    </div>
                                    <hr class="hr-offer-box">
                                    <div class="col-6">
                                        <a href="#">
                                            <div class="inside-box">
                                                <img src="assets/img/products/featured/offersection2-product-img1.png">
                                                <h4>India Gate Rice</h4>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-6">
                                        <a href="#">
                                            <div class="inside-box">
                                                <img src="assets/img/products/featured/offersection2-product-img1.png">
                                                <h4>India Gate Rice</h4>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- offersection-2  end-->
            <!-- Recommended Products start -->
            <div class="category-slider-area bg-color--grey slider3 slider5 space-pb--25 space-mb--25">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="section-title space-mb--20">Recommended Products <a href="shop.html">VIEW ALL
                                <span><img src="assets/img/icons/arrow-right.svg" class="injectable" alt=""></span></a>
                            </h2>
                            <!-- section title -->
                            <div class="owl-carousel owl-theme best-seller">
                                <div class="item">
                                    <img src="assets/img/products/featured/best-salt-img.png" class="injectable" alt="">
                                    <div class="content-div">
                                        <h4><img src="assets/img/icons/money.svg" class="icons">25.00</h4>
                                        <p>Total Iodised Salt</p>
                                        <input type="" name="" value="1 Kg">
                                        <a href="#">Add To Cart</a>
                                    </div>
                                </div>
                                <div class="item liquid">
                                    <img src="assets/img/products/featured/best-oli-img.png" class="injectable" alt="">
                                    <div class="content-div">
                                        <h4><img src="assets/img/icons/money.svg" class="icons">25.00</h4>
                                        <p>Oil</p>
                                        <div class="input-div">
                                            <i class="fa fa-caret-down"> </i>
                                            <input type="" name="" value="995 gm" readonly="">
                                        </div>
                                        <a href="#">Add To Cart</a>
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="assets/img/products/featured/best-salt-img.png" class="injectable" alt="">
                                    <div class="content-div">
                                        <h4><img src="assets/img/icons/money.svg" class="icons">25.00</h4>
                                        <p>Total Iodised Salt</p>
                                        <input type="" name="" value="1 Kg">
                                        <a href="#">Add To Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Recommended Products end -->
            <!-- offersection-3 start -->
            <div class="category-slider-area bg-color--grey offersection offersection-2 offersection-3  space-pb--25 space-mb--25">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="offersection-box img-box col-12">
                                <div class="header">
                                    <img src="assets/img/products/featured/offersection-3-top-img.png">
                                </div>
                                <div class="row boxx">
                                    <div class="offer-div">
                                        <h4>UPTO<br><b>20%</b><br>OFF</h4>
                                    </div>
                                    <div class="col-6">
                                        <a href="#">
                                            <div class="inside-box">
                                                <img src="assets/img/products/featured/offersection3-product-img1.png">
                                                <h4>Fair and Lovely</h4>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-6">
                                        <a href="#">
                                            <div class="inside-box">
                                                <img src="assets/img/products/featured/offersection3-product-img1.png">
                                                <h4>Fair and Lovely</h4>
                                            </div>
                                        </a>
                                    </div>
                                    <hr class="hr-offer-box">
                                    <div class="col-6">
                                        <a href="#">
                                            <div class="inside-box">
                                                <img src="assets/img/products/featured/offersection3-product-img1.png">
                                                <h4>Fair and Lovely</h4>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="col-6">
                                        <a href="#">
                                            <div class="inside-box">
                                                <img src="assets/img/products/featured/offersection3-product-img1.png">
                                                <h4>Fair and Lovely</h4>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- offersection-3 end -->
            <!-- Featured Products start -->
            <div class="category-slider-area bg-color--grey slider3  slider6 space-pb--25 space-mb--25">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="section-title space-mb--20">Featured Products <a href="shop.html">VIEW ALL <span><img
                                    src="assets/img/icons/arrow-right.svg" class="injectable" alt=""></span></a></h2>
                            <!-- section title -->
                            <div class="owl-carousel owl-theme best-seller">
                                <div class="item">
                                    <img src="assets/img/products/featured/best-salt-img.png" class="injectable" alt="">
                                    <div class="content-div">
                                        <h4><img src="assets/img/icons/money.svg" class="icons">25.00</h4>
                                        <p>Total Iodised Salt</p>
                                        <input type="" name="" value="1 Kg">
                                        <a href="#">Add To Cart</a>
                                    </div>
                                </div>
                                <div class="item liquid">
                                    <img src="assets/img/products/featured/best-oli-img.png" class="injectable" alt="">
                                    <div class="content-div">
                                        <h4><img src="assets/img/icons/money.svg" class="icons">25.00</h4>
                                        <p>Oil</p>
                                        <div class="input-div">
                                            <i class="fa fa-caret-down"> </i>
                                            <input type="" name="" value="995 gm" readonly="">
                                        </div>
                                        <a href="#">Add To Cart</a>
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="assets/img/products/featured/best-salt-img.png" class="injectable" alt="">
                                    <div class="content-div">
                                        <h4><img src="assets/img/icons/money.svg" class="icons">25.00</h4>
                                        <p>Total Iodised Salt</p>
                                        <input type="" name="" value="1 Kg">
                                        <a href="#">Add To Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Featured Products end -->
            <!--====================  End of products area  ====================-->
            <!--====================  footer area ====================-->
            <!--            <footer>-->
            <!--                <div class="footer-nav-wrapper">-->
            <!--                    <a href="index.html" class="footer-nav-single">-->
            <!--                        <div class="menu-wrapper">-->
            <!--                            <img src="assets/img/icons/home.svg" class="injectable" alt="">-->
            <!--                            <span>Home</span>-->
            <!--                        </div>-->
            <!--                    </a>-->


            <!--                    <a href="#" class="footer-nav-single">-->
            <!--                        <div class="menu-wrapper">-->
            <!--                            <img src="assets/img/icons/list.svg" class="injectable" alt="">-->
            <!--                            <span>Category</span>-->
            <!--                        </div>-->
            <!--                    </a>-->
            <!--                    <a href="#" class="footer-nav-single">-->
            <!--                        <div class="menu-wrapper">-->
            <!--                            <img src="assets/img/icons/offer.svg" class="injectable" alt="">-->
            <!--                            <span>Offer</span>-->
            <!--                        </div>-->
            <!--                    </a>-->
            <!--                    <a href="#" class="footer-nav-single">-->
            <!--                        <div class="menu-wrapper">-->
            <!--                            <img src="assets/img/icons/cart.svg" class="injectable" alt="">-->
            <!--                            <span>Cart</span>-->
            <!--                        </div>-->
            <!--                    </a>-->
            <!--                    <a href="#" class="footer-nav-single">-->
            <!--                        <div class="menu-wrapper">-->
            <!--                            <img src="assets/img/icons/profile.svg" class="injectable" alt="">-->
            <!--                            <span>Profile</span>-->
            <!--                        </div>-->
            <!--                    </a>-->
            <!--                </div>-->
            <!--            </footer>-->
            <!--====================  End of footer area  ====================-->
        </div>
    </div>
</ion-content>

