<ion-header>
    <ion-toolbar>
        <ion-title>products</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="product-details">

        <div class=" space-pb--30 ">
            <div class="product-image-single">
                <img src="{{product.image}}">
            </div>
        </div>

        <!-- product content header -->
        <div class="product-content-header-area border-bottom--thick">
            <div class="container">
                <div class="row">
                    <div class="col-12">

                        <div class="product-content-header">
                            <div class="product-content-header__main-info" style="width: 100%;">
                                <h3 class="title" style="color: #800080">{{product.item_name}}</h3>
                              <b style="color: #383d41 ">{{product.brand_name}}</b><br>
                                <b style="color: #383d41">{{product.weight}}</b>
                                <div class="price">
                                    <i class="fa fa-rupee"></i><span class="main-price">{{product.selling_price}}</span>
                                    <span class="discounted-price">{{product.final_price}}</span>
                                    <div style="float: right;">
                                        <ion-icon *ngIf="product.in_wish_list" name="heart" class="heart_icon_red"
                                                  (click)="addTowishlist(product.id)"></ion-icon>
                                        <ion-icon *ngIf="!product.in_wish_list" name="heart" class="heart_icon"
                                                  (click)="addTowishlist(product.id)"></ion-icon>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="shop-product-button">
            <button (click)="addTocart(product.id)" class="cart">ADD TO CART</button>
        </div>
    </div>
    <div class="category-slider-area bg-color--grey slider3 space-pb--25 space-mb--25">
        <div class="container">
            <h2>Related Product</h2>

            <div class="row">
                <div *ngFor="let product of relatedProducts" class=" col-6 products-box-right">
                    <div class="item">
                        <a [routerLink]="['/tabs/product', product.id]">
                            <div *ngIf="product.discount" class="offer"><a>₹ {{product.discount}} &nbsp;Off</a></div>

                            <ion-icon class="sare_icon" name="share-social-outline"></ion-icon>
                            <div style=" text-align: center">
                                <img alt="" class="injectable pruduct_image" src="{{product.image}}"
                                     style=" height: 100px; width: 140px;">
                            </div>
                            <div class="content-div">
                                <p style="font-size:15px; height: 20px;">₹ <s>{{product.selling_price}}</s><i
                                        style="color: #3a7be0"> {{product.final_price}}</i></p>
                                <p style=" height: 40px;">{{product.item_name}}  |  {{product.weight}}</p>
                            </div>

                        </a>
                        <div class="content-div">
                            <a (click)="addTocart(product.id)">Add To Cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-content>
