.sare_icon{
  float: right;
  color: #2a6df4;
  font-size: 20px;
  //margin-top: -10%;
}


.heart_icon{
  float: right;
  color: #989aa2;
  font-size: 25px;
}

.heart_icon_red {
  float: right;
  color: red;
  font-size: 25px;
}
.heart_icon:hover{
  float: right;
  color: deeppink;
  font-size: 25px;
  //margin-top: -10%;
}
