


.heart_icon{
  float: right;
  color: #989aa2;
  font-size: 25px;
}
.heart_icon{
  float: right;
  color: #da4453;
  font-size: 25px;
}

.heart_icon_red {
  float: right;
  color: #da4453;
  font-size: 25px;
}
