<ion-header>
    <ion-toolbar>
        <ion-title>products</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="breadcrumb-area bg-color--grey space-y--15">

    </div>

    <div class="category-slider-area bg-color--grey slider3 space-pb--25 space-mb--25">
        <div class="container">

            <div class="row">


                <!-- section title -->
                <div *ngFor="let product of products" class=" col-6 products-box-right">
                    <div class="item">
                        <img alt="" class="injectable" src="{{product.image}}">
                        <div class="content-div">
                            <h4><img class="icons" src="assets/img/icons/money.svg">25.00</h4>
                            <p>{{product.title}}</p>

                            <form [formGroup]="submitform" (ngSubmit)="onSubmit()">
                                <div class="form-field">
                                    <input type="text" style="display: none" value="{{product.id}}" formControlName="pk">
                                    <select class="dropdown_item" formControlName="Quantity">
                                        <option value="1">1 kg</option>
                                        <option value="2">500 gm</option>
                                        <option value="3">250 gm</option>
                                    </select>
                                </div>
                                <div class="form-field">
                                    <button><a (click)="add_to_cart(product.id)">Add To Cart</a>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-content>
