.Filter_row {
  margin-bottom: 10px;
  margin-top: -20px;
  text-align: center;
}

.Filter_text {
  color: #989aa2;
  font-size: 15px;
  padding: 0;
  margin: 0;
  font-weight: bold;
  text-align: center;
  text-overflow: ellipsis;
}

.Filter_text:hover {
  color: #800080;
  padding: 0;
  margin: 0;
  font-weight: bold;
  text-align: center;
  border-bottom: 2px solid #800080;

}

