<ion-header>
  <ion-toolbar>
    <ion-title>products</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="breadcrumb-area bg-color--grey space-y--15">

  </div>

  <div class="category-slider-area bg-color--grey slider3 space-pb--25 space-mb--25">
    <div class="container">

      <div class="row">


        <!-- section title -->
        <div class=" col-6 products-box-right">
          <div class="item">
            <img alt="" class="injectable" src="assets/img/products/featured/best-salt-img.png">
            <div class="content-div">
              <h4><img class="icons" src="assets/img/icons/money.svg">25.00</h4>
              <p>Total Iodised Salt</p>
              <input name="" type="" value="1 Kg">
              <a href="#">Add To Cart</a>
            </div>
          </div>
        </div>
        <div class=" col-6 products-box-left">
          <div class="item liquid ">
            <img alt="" class="injectable" src="assets/img/products/featured/best-oli-img.png">
            <div class="content-div">
              <h4><img class="icons" src="assets/img/icons/money.svg">25.00</h4>
              <p>Oil</p>
              <div class="input-div">
                <i class="fa fa-caret-down"> </i>
                <input name="" readonly="" type="" value="995 gm">
              </div>
              <a href="#">Add To Cart</a>
            </div>
          </div>
        </div>
        <div class="col-6 products-box-right">
          <div class="item ">
            <img alt="" class="injectable" src="assets/img/products/featured/best-salt-img.png">
            <div class="content-div">
              <h4><img class="icons" src="assets/img/icons/money.svg">25.00</h4>
              <p>Total Iodised Salt</p>
              <input name="" type="" value="1 Kg">
              <a href="#">Add To Cart</a>
            </div>
          </div>
        </div>
        <div class="col-6 products-box-left">
          <div class="item ">
            <img alt="" class="injectable" src="assets/img/products/featured/best-salt-img.png">
            <div class="content-div">
              <h4><img class="icons" src="assets/img/icons/money.svg">25.00</h4>
              <p>Total Iodised Salt</p>
              <input name="" type="" value="1 Kg">
              <a href="#">Add To Cart</a>
            </div>
          </div>
        </div>
        <div class="col-6 products-box-left">
          <div class="item ">
            <img alt="" class="injectable" src="assets/img/products/featured/best-salt-img.png">
            <div class="content-div">
              <h4><img class="icons" src="assets/img/icons/money.svg">25.00</h4>
              <p>Total Iodised Salt</p>
              <input name="" type="" value="1 Kg">
              <a href="#">Add To Cart</a>
            </div>
          </div>
        </div>
        <div class="col-6 products-box-left">
          <div class="item ">
            <img alt="" class="injectable" src="assets/img/products/featured/best-salt-img.png">
            <div class="content-div">
              <h4><img class="icons" src="assets/img/icons/money.svg">25.00</h4>
              <p>Total Iodised Salt</p>
              <input name="" type="" value="1 Kg">
              <a href="#">Add To Cart</a>
            </div>
          </div>
        </div>
        <div class="col-6 products-box-left">
          <div class="item ">
            <img alt="" class="injectable" src="assets/img/products/featured/best-salt-img.png">
            <div class="content-div">
              <h4><img class="icons" src="assets/img/icons/money.svg">25.00</h4>
              <p>Total Iodised Salt</p>
              <input name="" type="" value="1 Kg">
              <a href="#">Add To Cart</a>
            </div>
          </div>
        </div>
        <div class="col-6 products-box-left">
          <div class="item ">
            <img alt="" class="injectable" src="assets/img/products/featured/best-salt-img.png">
            <div class="content-div">
              <h4><img class="icons" src="assets/img/icons/money.svg">25.00</h4>
              <p>Total Iodised Salt</p>
              <input name="" type="" value="1 Kg">
              <a href="#">Add To Cart</a>
            </div>
          </div>
        </div>
        <div class="col-6 products-box-left">
          <div class="item ">
            <img alt="" class="injectable" src="assets/img/products/featured/best-salt-img.png">
            <div class="content-div">
              <h4><img class="icons" src="assets/img/icons/money.svg">25.00</h4>
              <p>Total Iodised Salt</p>
              <input name="" type="" value="1 Kg">
              <a href="#">Add To Cart</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</ion-content>
