<ion-header>
    <ion-toolbar>
        <ion-title>offer</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="breadcrumb-area bg-color--grey space-y--15">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12">
                    <h4 class="page-title text-center">Offer Zone</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="category-slider-area bg-color--grey slider3 space-pb--25 space-mb--25">
        <div class="container">
            <div class="row">

                <!-- section title -->
                <div class=" col-6 products-box-right">
                    <div class="item">
                        <div class="offer">2% Off</div>
                        <img alt="" class="injectable" src="assets/img/products/featured/best-salt-img.png">
                        <div class="content-div">
                            <h4><img class="icons" src="assets/img/icons/money.svg">25.00 <span class="costprice"><img
                                    class="icons" src="assets/img/icons/money.svg">25.00</span></h4>
                            <p>Total Iodised Salt</p>
                            <select class="dropdown_item" name="items">
                                <option value="1kg">1 kg</option>
                                <option value="500gm">500 gm</option>
                                <option value="250gm">250 gm</option>
                            </select>
                            <a href="#">Add To Cart</a>
                        </div>
                    </div>
                </div>

                <div class=" col-6 products-box-right">
                    <div class="item">
                        <div class="offer">2% Off</div>
                        <img alt="" class="injectable" src="assets/img/products/featured/best-salt-img.png">
                        <div class="content-div">
                            <h4><img class="icons" src="assets/img/icons/money.svg">25.00 <span class="costprice"><img
                                    class="icons" src="assets/img/icons/money.svg">25.00</span></h4>
                            <p>Total Iodised Salt</p>
                            <select class="dropdown_item" name="items">
                                <option value="1kg">1 kg</option>
                                <option value="500gm">500 gm</option>
                                <option value="250gm">250 gm</option>
                            </select>
                            <a href="#">Add To Cart</a>
                        </div>
                    </div>
                </div>

                <div class="col-6 products-box-right">
                    <div class="item ">
                        <div class="offer">2% Off</div>
                        <img alt="" class="injectable" src="assets/img/products/featured/best-salt-img.png">
                        <div class="content-div">
                            <h4><img class="icons" src="assets/img/icons/money.svg">25.00 <span class="costprice"><img
                                    class="icons" src="assets/img/icons/money.svg">25.00</span></h4>
                            <p>Total Iodised Salt</p>
                            <select class="dropdown_item" name="items">
                                <option value="1kg">1 kg</option>
                                <option value="500gm">500 gm</option>
                                <option value="250gm">250 gm</option>
                            </select>
                            <a href="#">Add To Cart</a>
                        </div>
                    </div>
                </div>

                <div class="col-6 products-box-left">
                    <div class="item ">
                        <div class="offer">2% Off</div>
                        <img alt="" class="injectable" src="assets/img/products/featured/best-salt-img.png">
                        <div class="content-div">
                            <h4><img class="icons" src="assets/img/icons/money.svg">25.00 <span class="costprice"><img
                                    class="icons" src="assets/img/icons/money.svg">25.00</span></h4>
                            <p>Total Iodised Salt</p>
                            <select class="dropdown_item" name="items">
                                <option value="1kg">1 kg</option>
                                <option value="500gm">500 gm</option>
                                <option value="250gm">250 gm</option>
                            </select>
                            <a href="#">Add To Cart</a>
                        </div>
                    </div>
                </div>

                <div class="col-6 products-box-left">
                    <div class="item ">
                        <div class="offer">2% Off</div>
                        <img alt="" class="injectable" src="assets/img/products/featured/best-salt-img.png">
                        <div class="content-div">
                            <h4><img class="icons" src="assets/img/icons/money.svg">25.00 <span class="costprice"><img
                                    class="icons" src="assets/img/icons/money.svg">25.00</span></h4>
                            <p>Total Iodised Salt</p>
                            <select class="dropdown_item" name="items">
                                <option value="1kg">1 kg</option>
                                <option value="500gm">500 gm</option>
                                <option value="250gm">250 gm</option>
                            </select>
                            <a href="#">Add To Cart</a>
                        </div>
                    </div>
                </div>

                <div class="col-6 products-box-left">
                    <div class="item ">
                        <div class="offer">2% Off</div>
                        <img alt="" class="injectable" src="assets/img/products/featured/best-salt-img.png">
                        <div class="content-div">
                            <h4><img class="icons" src="assets/img/icons/money.svg">25.00 <span class="costprice"><img
                                    class="icons" src="assets/img/icons/money.svg">25.00</span></h4>
                            <p>Total Iodised Salt</p>
                            <select class="dropdown_item" name="items">
                                <option value="1kg">1 kg</option>
                                <option value="500gm">500 gm</option>
                                <option value="250gm">250 gm</option>
                            </select>
                            <a href="#">Add To Cart</a>
                        </div>
                    </div>
                </div>

                <div class="col-6 products-box-left">
                    <div class="item ">
                        <div class="offer">2% Off</div>
                        <img alt="" class="injectable" src="assets/img/products/featured/best-salt-img.png">
                        <div class="content-div">
                            <h4><img class="icons" src="assets/img/icons/money.svg">25.00 <span class="costprice"><img
                                    class="icons" src="assets/img/icons/money.svg">25.00</span></h4>
                            <p>Total Iodised Salt</p>
                            <select class="dropdown_item" name="items">
                                <option value="1kg">1 kg</option>
                                <option value="500gm">500 gm</option>
                                <option value="250gm">250 gm</option>
                            </select>
                            <a href="#">Add To Cart</a>
                        </div>
                    </div>
                </div>

                <div class="col-6 products-box-left">
                    <div class="item ">
                        <div class="offer">2% Off</div>
                        <img alt="" class="injectable" src="assets/img/products/featured/best-salt-img.png">
                        <div class="content-div">
                            <h4><img class="icons" src="assets/img/icons/money.svg">25.00</h4>
                            <p>Total Iodised Salt</p>
                            <select class="dropdown_item" name="items">
                                <option value="1kg">1 kg</option>
                                <option value="500gm">500 gm</option>
                                <option value="250gm">250 gm</option>
                            </select>
                            <a href="#">Add To Cart</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</ion-content>
