<ion-header>
    <ion-toolbar>
        <ion-title>offer zone</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="breadcrumb-area bg-color--grey space-y--15">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12">
                    <h3 class="page-title">Offer Zone</h3>
                </div>
            </div>
        </div>
    </div>

            <div *ngIf="showProducts"
                    class="category-slider-area bg-color--grey products space-pb--25 space-mb--25">
                <div class="container">

                    <div class="row">
                        <div *ngFor="let homeoffer of HomeOffers" class=" col-12 products-box-right">
                            <div class="item">
                                <div *ngIf="homeoffer.product4.discount" class="products_offer">
                                    <b>₹ &nbsp;{{homeoffer.product4.discount}}</b> <br>Off
                                </div>
                                <a [routerLink]="['/tabs/product', homeoffer.product4.id]">
                                    <div>
                                        <img alt="" class="injectable pruducts_img" src="{{homeoffer.image}}">
                                    </div>
                                    <div class="content-div">
                                        <p style=" height: 25px;"><b
                                                style="color: #800080; font-size: 15px;">{{homeoffer.product4.item_name}}</b>
                                            &nbsp; |
                                            &nbsp;
                                            <b style="color: #95999c">{{homeoffer.product4.weight}}</b></p>
                                        <p style="color: #383d41 ">{{homeoffer.product4.brand_name}}</p>
                                        <p style="font-size:15px; height: 20px;">₹ <s
                                                style="color: #95999c">{{homeoffer.product4.selling_price}}</s>
                                            <b> {{homeoffer.product4.final_price}}</b></p>
                                    </div>

                                </a>
                                <div class="content-div">
                                    <a (click)="addTocart(homeoffer.product4.id)">Add To Cart</a>
                                </div>
                            </div>
                        </div>
                        <div *ngFor="let homeoffer of HomeOffers" class=" col-12 products-box-right">
                            <div class="item">
                                <div *ngIf="homeoffer.product3.discount" class="products_offer">
                                    <b>₹ &nbsp;{{homeoffer.product3.discount}}</b> <br>Off
                                </div>
                                <a [routerLink]="['/tabs/product', homeoffer.product3.id]">
                                    <div>
                                        <img alt="" class="injectable pruducts_img" src="{{homeoffer.product3.image}}">
                                    </div>
                                    <div class="content-div">
                                        <p style=" height: 25px;"><b
                                                style="color: #800080; font-size: 15px;">{{homeoffer.product3.item_name}}</b>
                                            &nbsp; |
                                            &nbsp;
                                            <b style="color: #95999c">{{homeoffer.product3.weight}}</b></p>
                                        <p style="color: #383d41 ">{{homeoffer.product3.brand_name}}</p>
                                        <p style="font-size:15px; height: 20px;">₹ <s
                                                style="color: #95999c">{{homeoffer.product3.selling_price}}</s>
                                            <b> {{homeoffer.product3.final_price}}</b></p>
                                    </div>

                                </a>
                                <div class="content-div">
                                    <a (click)="addTocart(homeoffer.product3.id)">Add To Cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

</ion-content>
