

<ion-content>

  <div class="body-wrapper bg-color--gradient space-pt--20 login-signup space-pb--50">
         <!-- auth page header -->
         <div class="auth-page-header space-mb--20 login-signup-head">
            <div class="container">
               <div class="row">
                  <div class="col-12">
                     <h3 class="auth-page-header__title">Welcome</h3>
                     <p class="auth-page-header__text">Don't have account? <br> Please sign up for creating a new account.</p>
                  </div>
               </div>
            </div>
         </div>
         <!-- auth page body -->
         <div class="auth-page-body">
            <div class="container">
               <div class="row">
                  <div class="col-12">
                     <!-- Auth form -->
                     <div class="auth-form">
                        <form [formGroup]="submitform" (ngSubmit)="onSubmit()">
                           <div class="auth-form__single-field space-mb--20 form-field ">
                              <label for="name">Name</label>
                              <input type="text" formControlName="name" id="name" placeholder="Enter Full name">
                           </div>
                           <div class="auth-form__single-field space-mb--20 form-field">
                              <label for="emailAddress">Email Address</label>
                              <input type="email" formControlName="email" id="emailAddress" placeholder="Enter Email Address">
                           </div>
                            <div class="auth-form__single-field space-mb--20 form-field">
                              <label for="Number">Mobile Number</label>
                              <input type="text" formControlName="mobile_number" id="Number" placeholder="Enter Mobile Number">
                           </div>
                           <div class="auth-form__single-field space-mb--20 form-field">
                              <label for="password">Password</label>
                              <input type="text" formControlName="password" id="password" placeholder="Enter Password">
                           </div>
                            <div class="auth-form__single-field space-mb--20 form-field">
                              <label for="password-con">Confirm Password</label>
                              <input type="text" formControlName="confirm_password" id="password-con" placeholder="Enter Confirm Password">
                           </div>
                           <div class="auth-form__single-field space-mb--20 form-field">
                              <p class="auth-form__info-text">Already have an account? <a [routerLink]="['/tabs/login']">Login in Now</a></p>
                           </div>
                            <div class="form-field">
                           <button class="auth-form__button" type="submit" [disabled]="!submitform.valid">Sign Up</button>
                            </div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- auth page footer -->
      </div>
</ion-content>
