<ion-header>
  <ion-toolbar>
    <ion-title>signup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="body-wrapper bg-color--gradient space-pt--20 login-signup space-pb--50">
         <!-- auth page header -->
         <div class="auth-page-header space-mb--20 login-signup-head">
            <div class="container">
               <div class="row">
                  <div class="col-12">
                     <h3 class="auth-page-header__title">Welcome</h3>
                     <p class="auth-page-header__text">Don't have account? <br> Please sign up for creating a new account.</p>
                  </div>
               </div>
            </div>
         </div>
         <!-- auth page body -->
         <div class="auth-page-body">
            <div class="container">
               <div class="row">
                  <div class="col-12">
                     <!-- Auth form -->
                     <div class="auth-form">
                        <form action="index.html">
                           <div class="auth-form__single-field space-mb--20">
                              <label for="name">Name</label>
                              <input type="text" name="name" id="name" placeholder="Enter Full name">
                           </div>
                           <div class="auth-form__single-field space-mb--20">
                              <label for="emailAddress">Email Address</label>
                              <input type="text" name="emailAddress" id="emailAddress" placeholder="Enter Email Address">
                           </div>
                            <div class="auth-form__single-field space-mb--20">
                              <label for="Number">Monile Number</label>
                              <input type="text" name="Number" id="Number" placeholder="Enter Mobile Number">
                           </div>
                           <div class="auth-form__single-field space-mb--20">
                              <label for="password">Password</label>
                              <input type="password" name="password" id="password" placeholder="Enter Password">
                           </div>
                            <div class="auth-form__single-field space-mb--20">
                              <label for="password-con">Confirm Password</label>
                              <input type="password-con" name="password-con" id="password-con" placeholder="Enter Confirm Password">
                           </div>
                           <div class="auth-form__single-field space-mb--20">
                              <p class="auth-form__info-text">Already have an account? <a href="login.html">Sign in Now</a></p>
                           </div>
                           <button class="auth-form__button">Sign Up</button>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- auth page footer -->
         <div class="auth-page-footer">
            <div class="container">
               <div class="row">
                  <div class="col-12">
                     <span class="auth-page-separator text-center space-mt--20 space-mb--20">- OR -</span>
                     <div class="auth-page-social-login">
                        <button><img src="assets/img/icons/facebook.svg" class="injectable" alt="">Sign In with Facebook</button>
                        <button><img src="assets/img/icons/google.svg" class="injectable" alt="">Sign In with Google</button>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
</ion-content>
