<div class="categorys bg-color--grey space-pb--25 space-mb--25 ">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- section title -->
                <h2 class="section-title space-mt--10 space-mb--20">Shop By Categories</h2>
                <!-- category slider -->
                <div class="featured-product-wrapper space-mb-m--15">
                    <div class="row row-5">
                        <div *ngFor="let category of categories" class="col-4">
                            <div class="cat-main-box">
                                <div [ngStyle]="{'background-color': category.backgroud_color}"
                                     class="featured-product cat-box1 space-mb--15">
                                    <a>

                                        <div class="featured-product__image">
                                            <img src="{{category.image}}"
                                                 class="img-fluid" alt="">
                                        </div>
                                    </a>
                                </div>
                                <div class="featured-product__content">
                                    <a href="#"><h4>{{category.title}}</h4></a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
