<ion-header>
    <ion-toolbar>
        <ion-title>editprofile</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="breadcrumb-area bg-color--grey space-y--15">

    </div>
    <!--====================  End of breadcrumb area  ====================-->
    <!--====================  edit profile body ====================-->
    <div class="edit-profile-body">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- edit profile form -->
                    <div class="edit-profile-form">

                        <form (ngSubmit)="onSubmit()" [formGroup]="submitform">

                            <div class="edit-profile-form__single-field space-mb--20 form-field">
                                <label for="fullName">Full Name</label>
                                <input formControlName="fullName" id="fullName" placeholder="Enter Full Name"
                                       type="text">
                            </div>
                            <div class="edit-profile-form__single-field space-mb--20 form-field">
                                <label for="userName">User Name</label>
                                <input formControlName="userName" id="userName" placeholder="Enter User Name"
                                       type="text">
                            </div>
                            <div class="edit-profile-form__single-field space-mb--20 form-field">
                                <label for="phoneNo">Phone</label>
                                <input formControlName="number" id="phoneNo" placeholder="Enter Phone Number"
                                       type="number">
                            </div>
                            <div class="edit-profile-form__single-field space-mb--20 form-field">
                                <label for="emailAddress">Email Address</label>
                                <input formControlName="email" id="emailAddress" placeholder="Enter Email Address"
                                       type="email">
                            </div>
                            <div class="edit-profile-form__single-field space-mb--20 form-field">
                                <label for="shippingAddress">Shipping Address</label>
                                <textarea cols="50" formControlName="shipping" id="shippingAddress"
                                          placeholder="Enter Shipping Address"
                                          rows="3"></textarea>
                            </div>
                            <div class="form-field">
                                <button type="submit" class="edit-profile-form__button" [disabled]="!submitform.valid">Update</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-content>
