<ion-header>
    <ion-toolbar>
        <ion-title>profile</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="container">


        <div class="profile-main-div space-pt--10 space-mb--30">
            <div class="profile-header-area space-pt--10 space-mb--30">
                <div class="">
                    <div class="row">
                        <div class="col-12">
                            <div class="profile-header">
                                <div class="profile-header__image">
                                    <img alt="" class="img-fluid" src="assets/img/icons/user-white.png">
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--====================  End of profile header  ====================-->
            <!--====================  profile body ====================-->
            <div class="profile-body-area">
                <div class="">
                    <div class="row">
                        <div class="col-12">
                            <div class="profile-body">
                                <div class="profile-info-table space-mb--30">
                                    <div class="profile-info-block">
                                        <div class="profile-info-block__title">First Name</div>
                                        <div class="profile-info-block__value">Don Normane</div>
                                    </div>
                                    <div class="profile-info-block">
                                        <div class="profile-info-block__title">Last Name</div>
                                        <div class="profile-info-block__value">john007</div>
                                    </div>
                                    <div class="profile-info-block">
                                        <div class="profile-info-block__title">Phone</div>
                                        <div class="profile-info-block__value">(+1) 223556 66</div>
                                    </div>
                                    <div class="profile-info-block">
                                        <div class="profile-info-block__title">E-mail</div>
                                        <div class="profile-info-block__value">demo@mail.com</div>
                                    </div>
                                    <div class="profile-info-block">
                                        <div class="profile-info-block__title">Shipping Address</div>
                                        <div class="profile-info-block__value">Lorem ipsum, or lipsum as it is sometimes
                                            known, is dummy text used in
                                        </div>
                                    </div>
                                    <div class="profile-info-block">
                                        <div class="profile-info-block__title">Edit Profile</div>
                                        <div class="profile-info-block__value"><a (click)="editprofile()"
                                                                                  routerDirection="forward"><img
                                                alt="" class="injectable" src="assets/img/icons/edit.svg"></a></div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-content>
