<ion-header>
    <ion-toolbar>
        <ion-title>profile</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="container">
        <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
            <ion-refresher-content
                    pullingIcon="arrow-dropdown"
                    pullingText="Pull to refresh"
                    refreshingSpinner="circles"
                    refreshingText="Refreshing...">
            </ion-refresher-content>
        </ion-refresher>

        <div class="profile-main-div space-pt--10 space-mb--30">
            <div class="profile-header-area space-pt--10 space-mb--30">
                <div class="">
                    <div class="row">
                        <div class="col-12">
                            <div class="profile-header">
                                <div class="profile-header__image">
                                    <img alt="" class="img-fluid" src="assets/img/icons/user-white.png">
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--====================  End of profile header  ====================-->
            <!--====================  profile body ====================-->
            <div class="profile-body-area">
                <div class="">
                    <div class="row">
                        <div class="col-12">
                            <div class="profile-body">
                                <div class="profile-info-table space-mb--30">
                                    <div class="profile-info-block">
                                        <div class="profile-info-block__title">Name</div>
                                        <div class="profile-info-block__value">{{user.name}}</div>
                                    </div>
                                    <div class="profile-info-block">
                                        <div class="profile-info-block__title">Phone</div>
                                        <div class="profile-info-block__value">{{user.mobile_number}}</div>
                                    </div>
                                    <div class="profile-info-block">
                                        <div class="profile-info-block__title">Shipping Address</div>
                                        <div class="profile-info-block__value">{{user.address}}
                                        </div>
                                    </div>
                                    <div class="profile-info-block">
                                        <div class="profile-info-block__title">Edit Profile</div>
                                        <div class="profile-info-block__value"><a (click)="editprofile()"
                                                                                  routerDirection="forward"><img
                                                alt="" class="injectable" src="assets/img/icons/edit.svg"></a></div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-content>
