<ion-header>
    <ion-toolbar>
        <ion-title>transaction</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="menu_header">
        <div class="body-wrapper space-pt--20 space-pb--50">

            <div class="categorys bg-color--grey space-pb--25 space-mb--25 ">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-12">

                                                            <h1>My Transactions</h1>

                                                            <div class="featured-product-wrapper space-mb-m--15">
                                                                <div class="row row-5">
                                                                    <div  class="col-12">
<!--                                                                        <a [routerLink]="['/tabs/product', newArrival.id]">-->
                                                                            <div class="cat-main-box">
                                                                                <div class="transaction cat-box1 space-mb--15">
                                                                                    <div class="row">
                                                                                        <div class="col-md-3 " style="width: 60px">
                                                                                            <a> <img class="transation_img"
                                                                                             src="../../assets/img/products/featured/offersection3-product-img1.png">
                                                                                        </a></div>
                                                                                        <div class="col-6 "><p class="brand_name"> company name</p></div>
                                                                                        <div class="col-3 offer" style="background: #cf3c4f;"> <i class="fa fa-exclamation-circle status_icon" ></i></div>
                                                                                    </div>
                                                                                    <div class="row">
                                                                                        <div class="col-4 transaction_heading"> Amount</div>
                                                                                        <div class="col-4 transaction_heading"> Date</div>
                                                                                        <div class="col-4 transaction_heading">Status</div>
                                                                                    </div>
                                                                                    <div class="row">
                                                                                        <div class="col-4 transaction_table" style="font-size: 18px;"><b>₹ &nbsp;200.00</b></div>
                                                                                        <div class="col-4 transaction_table">24.04.2019</div>
                                                                                        <div class="col-4 transaction_table">Pending</div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
<!--                                                                        </a>-->
                                                                    </div>

                                                                </div>

                                                            </div>
                                                            <hr class="hr_row">

                                                            <div class="featured-product-wrapper space-mb-m--15">
                                                                <div class="row row-5">
                                                                    <div  class="col-12">
<!--                                                                        <a [routerLink]="['/tabs/product', newArrival.id]">-->
                                                                            <div class="cat-main-box">
                                                                                <div class="transaction cat-box1 space-mb--15">
                                                                                    <div class="row">
                                                                                        <div class="col-md-3 " style="width: 60px">
                                                                                            <a> <img class="transation_img"
                                                                                             src="../../assets/img/products/featured/offersection3-product-img1.png">
                                                                                        </a></div>
                                                                                        <div class="col-6 "><p class="brand_name"> company name</p></div>
                                                                                        <div class="col-3 offer" style="background: #800080;"> <i class="fa fa-check status_icon" ></i></div>
                                                                                    </div>
                                                                                    <div class="row">
                                                                                        <div class="col-4 transaction_heading"> Amount</div>
                                                                                        <div class="col-4 transaction_heading"> Date</div>
                                                                                        <div class="col-4 transaction_heading">Status</div>
                                                                                    </div>
                                                                                    <div class="row">
                                                                                        <div class="col-4 transaction_table" style="font-size: 18px;"><b>₹ &nbsp;200.00</b></div>
                                                                                        <div class="col-4 transaction_table">24.04.2019</div>
                                                                                        <div class="col-4 transaction_table">Payed</div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
<!--                                                                        </a>-->
                                                                    </div>

                                                                </div>

                                                            </div>
                                                            <hr class="hr_row">

                                                        </div>
                                                    </div>
                                                </div>
            </div>

        </div>
    </div>
</ion-content>
